---
layout: post
slug: "photos"
title: "更和多"
noDate: "true"
comments: "false"
reward: false
open_in_new: false
---
<link rel="stylesheet" href="./ins.css">
<div class="photos-btn-wrap">
    <a class="photos-btn active" href="/more">iHTCboy</a>
    <a class="photos-btn" href="/more/onemindmap.html">思维导图</a>
    <a class="photos-btn" href="/more/photos.html">我的相册</a>
    <a class="photos-btn" href="/more/videos.html">我的视频</a>
</div>

<div class="article-more">

    <h3>Summary</h3>
    <ul id="summary">
        <li>爱跑步，又未跑过马拉松；</li>
        <!-- <li>爱诗词，又未写过得意作品；</li> -->
        <li>爱艺术，又未做过颠覆创新的设计；</li>
        <li>爱技术，又<s>未敲过</s>改变世界的代码；</li>
        <!-- <li>不唱歌、不会弹琴、不会跳舞....</li> -->
    </ul>
    <p>一个缺少天赋的南方小哥，自带强迫症&完美症，热爱新鲜事物，修身齐家走天下！</p>

    <h3>Blog</h3>
    <div class="track-rcol">
        <div class="track-list" id="noliststyle">
            <span id="timeDate">本站已运行 666 天 </span><span id="times">08 小时 08 分 08 秒</span>
            <script>
                var now = new Date();
                function createtime() {
                    var grt = new Date("04/14/2015 00:00:01");
                    now.setTime(now.getTime() + 250);
                    days = (now - grt) / 1000 / 60 / 60 / 24; dnum = Math.floor(days);
                    hours = (now - grt) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours);
                    if (String(hnum).length == 1) { hnum = "0" + hnum; } minutes = (now - grt) / 1000 / 60 - (24 * 60 * dnum) - (60 * hnum);
                    mnum = Math.floor(minutes); if (String(mnum).length == 1) { mnum = "0" + mnum; }
                    seconds = (now - grt) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum);
                    snum = Math.round(seconds); if (String(snum).length == 1) { snum = "0" + snum; }
                    document.getElementById("timeDate").innerHTML = "本站已运行 " + dnum + " 天 ";
                    document.getElementById("times").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒";
                }
                setInterval("createtime()", 250);
            </script>
            <ul>
                <li>
                    <i class="node-icon"></i>
                    <span class="time">2018年05月01日</span>
                    <span class="txt">更换站点域名为：<a href="https://ihtcboy.com"
                            target="_blank">https://iHTCboy.com</a>。</span>
                </li>
                <li>
                    <i class="node-icon2"></i>
                    <span class="time">2015年04月28日</span>
                    <span class="txt">更换站点域名为：<a href="https://ihtcboy.com" target="_blank">http://iHTC.cc</a>。</span>
                </li>
                <li>
                    <i class="node-icon2"></i>
                    <span class="time">2015年04月14日</span>
                    <span class="txt">本站创建，采用<a href="https://hexo.io/" target="_blank">Hexo</a>开源框架，在<a href="https://github.com/litten/hexo-theme-yilia" target="_blank">yilia</a>主题基础上进行修改。托管至Github：<a href="https://ihtcboy.com" target="_blank">iHTCboy.github.io</a>。</span>
                </li>
            </ul>
        </div>
    </div>
    <code>iHTCboy</code>
    <ul>
        <li><code>i</code> 是 Apple 产品前缀，意为简洁之道</li>
        <li><code>HTC</code> 小哥名字的拼音首字母</li>
        <li><code>boy</code> 意为男孩的青春活力，亦为占位符，很多应用昵称长度至少6位</li>
    </ul>
    <br>
    <p>知识无价，乐分享&探索，相信坚持的力量！待它十年，且看今朝~</p>
    <p>执着留白&精致简洁的体验；曾作诗词、做视频字幕&剪辑、吹葫芦丝、学爱尔兰哨笛，但没有坚持下来；喜欢代码的感觉，享受思考的乐趣~</p>
    <p>努力目标：大前端自动化/全栈化...</p>

    <h3 id="wdzph">Projects</h3>
    <div class="production-item">
        <div class="production-picture">
            <a target="_blank" href="https://itunes.apple.com/cn/app/iLeetCoder/id1458259471?l=zh&ls=1&mt=8"
                id="bj1"></a>
        </div>
        <div class="production-info">
            <div class="production-title">
                <a target="_blank"
                    href="https://itunes.apple.com/cn/app/iLeetCoder/id1458259471?l=zh&ls=1&mt=8">iLeetCoder</a>
            </div>
            <div class="production-comments">for iOS</div>
            <div class="production-comments">一款精心学习Leetcode算法题目的App。</div>
            <div class="production-comments">Swift，开源地址：<a href="https://github.com/iHTCboy/iLeetcode-iOS" target="_blank">GitHub</a></div>
        </div>
    </div>
    <div class="production-item">
        <div class="production-picture">
            <a target="_blank" href="https://itunes.apple.com/cn/app/iWuBi/id1459028801?l=zh&ls=1&mt=8" class="bj2"></a>
        </div>
        <div class="production-info">
            <div class="production-title">
                <a target="_blank" href="https://itunes.apple.com/cn/app/iWuBi/id1459028801?l=zh&ls=1&mt=8">爱五笔</a>
            </div>
            <div class="production-comments">for iOS</div>
            <div class="production-comments">五笔输入法学习App，编码和拆字，支持86版和98版/简体和繁体。</div>
            <div class="production-comments">Swift，开源地址：<a href="https://github.com/iHTCboy/iWuBi" target="_blank">GitHub</a></div>
        </div>
    </div>
    <div class="production-item">
        <div class="production-picture">
            <a target="_blank" href="https://itunes.apple.com/cn/app/iTer/id1224934068?l=zh&ls=1&mt=8" class="bj3"></a>
        </div>
        <div class="production-info">
            <div class="production-title">
                <a target="_blank" href="https://itunes.apple.com/cn/app/iTer/id1224934068?l=zh&ls=1&mt=8">iTer</a>
            </div>
            <div class="production-comments">for iOS</div>
            <div class="production-comments">10000+ IT企业题库，为升职面试准备。</div>
            <div class="production-comments">Swift，开源地址：<a href="https://github.com/iHTCboy/iTer" target="_blank">GitHub</a></div>
        </div>
    </div>
    <div class="production-item">
        <div class="production-picture">
            <a target="_blank" href="https://itunes.apple.com/cn/app/mi-ji-yu-zhong-bu-tong-ji/id925021570?l=zh&mt=8"
                class="bj4"></a>
        </div>
        <div class="production-info">
            <div class="production-title">
                <a target="_blank"
                    href="https://itunes.apple.com/cn/app/mi-ji-yu-zhong-bu-tong-ji/id925021570?l=zh&mt=8">密记</a>
            </div>
            <div class="production-comments">for iOS</div>
            <div class="production-comments">简单简洁简明简便的生活小密记。</div>
            <div class="production-comments">Objective-C，开源地址：<a href="https://github.com/iHTCboy/SecurityNote" target="_blank">GitHub</a></div>
        </div>
    </div>
        <div class="production-item">
        <div class="production-picture">
            <a target="_blank" href="https://itunes.apple.com/cn/app/gui-lin-li-gong-da-xue-xiao/id968615456?l=zh&mt=8"
                class="bj5"></a>
        </div>
        <div class="production-info">
            <div class="production-title">
                <a target="_blank"
                    href="https://itunes.apple.com/cn/app/gui-lin-li-gong-da-xue-xiao/id968615456?l=zh&mt=8">桂工校园通</a>
            </div>
            <div class="production-comments">for iOS</div>
            <div class="production-comments">桂林理工大学非官方版的校园通应用。</div>
            <div class="production-comments">Objective-C，开源地址：<a href="https://github.com/iHTCboy/CampusOfGLUT" target="_blank">GitHub</a></div>
        </div>
    </div>
    <div class="production-item-nobottom">
        <div class="production-picture">
            <a target="_blank" href="https://itunes.apple.com/cn/app/gui-lin-li-gong-da-xue-yun/id954359041?l=zh&mt=8"
                class="bj6"></a>
        </div>
        <div class="production-info">
            <div class="production-title">
                <a target="_blank"
                    href="https://itunes.apple.com/cn/app/gui-lin-li-gong-da-xue-yun/id954359041?l=zh&mt=8">桂工云图</a>
            </div>
            <div class="production-comments">for iOS</div>
            <div class="production-comments">基于桂林理工大学雁山校区的云地图！</div>
            <div class="production-comments">Objective-C，开源地址：<a href="https://github.com/iHTCboy/GLUTCloud" target="_blank">GitHub</a></div>
        </div>
    </div>

</div>
<script>
    (function () {

    })()