#post-instagram{
	padding: 30px;
}
#post-instagram .article-entry{
	padding-right: 0;
}
.instagram{
	position: relative;
	min-height: 500px;
}
.instagram img {
	width: 100%;
}
.instagram .year {
	font-size: 16px;
}
.instagram .open-ins{
	padding: 10px 0;
	color: #cdcdcd;
}
.instagram .open-ins:hover{
	color: #657b83;
}
.instagram .year{
	display: inline;
}
.instagram .thumb {
	width: 25%;
	height: 0;
	padding-bottom: 25%;
	position: relative;
	display: inline-block;
	text-align: center;
	background: #ededed;
}
.instagram .thumb a {
	position: relative;
}
.instagram .album h1 em{
	font-style: normal;
	font-size: 14px;
	margin-left: 10px;
}
.instagram .album ul{
	display: flex;
	flex-wrap: wrap;
	clear: both;
	width: 100%;
	text-align: left;
}
.instagram .album li{
	list-style: none;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 5px;
	margin-bottom: -10px;
	height: 0;
	width: 25%;
	position: relative;
	padding-bottom: 25%;
}
.instagram .album li:before{
	display: none;
}
.instagram .album div.img-box{
	position: absolute;
	width: 90%;
	height: 90%;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 1px 0 1px rgba(255,255,255,0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 1px 0 1px rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 1px 0 1px rgba(255,255,255,0.1);
}
.instagram .album div.img-box img{
	width: 100%;
	height: 100%;
    position: absolute;
    z-index: 2;
}
.instagram .album div.img-box .img-bg{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0px;
	width: 100%;
	margin: -5px;
	padding: 5px;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,0.1);
	box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,0.1);
	-webkit-transition: all 0.15s ease-out 0.1s;
	-moz-transition: all 0.15s ease-out 0.1s;
	-o-transition: all 0.15s ease-out 0.1s;
	transition: all 0.15s ease-out 0.1s;
	opacity: 0.2;
	cursor: pointer;
	display: block;
	z-index: 3;
}
.instagram .album div.img-box .icon {
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -7px;
    margin-top: -7px;
    color: #999;
    z-index: 1;
}
.instagram .album div.img-box .img-bg:hover{
	opacity: 0;
}
.photos-btn-wrap {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
}
.photos-btn {
	font-size: 16px;
	color: #333;
	margin-bottom: -4px;
	padding: 5px 8px 3px;
}
.photos-btn.active {
	color: #08c;
	border: 1px solid #e5e5e5;
	border-bottom: 5px solid #fff;
}

@media screen and (max-width:600px) {
	.instagram .thumb {
		width: 50%;
		padding-bottom: 50%;
	}
	.instagram .album li {
		width: 100%;
		position: relative;
		padding-bottom: 100%;
		text-align: center;
	}
	.instagram .album div.img-box{
		margin: 0;
		width: 90%;
		height: 90%;
	}
}


/* ====== more ===== */

.track-rcol {
    width: 100%;
    border: 1px solid #eee;
}

.track-list {
    margin: 20px;
    padding-left: 5px;
    position: relative;
}

.track-list li {
    position: relative;
    padding: 9px 0 0 25px;
    line-height: 18px;
    border-left: 1px solid #d9d9d9;
    color: #999;
}

.track-list li.first {
    color: red;
    padding-top: 0;
    border-left-color: #fff;
}

.track-list li .node-icon {
    position: absolute;
    left: -6px;
    top: 65%;
    width: 11px;
    height: 11px;
    background: url(image/red.png) 0px 0px no-repeat;
}

.track-list li .node-icon2 {
    position: absolute;
    left: -6px;
    top: 65%;
    width: 11px;
    height: 11px;
    background: url(image/grigio.png) 0px 0px no-repeat;
}

.track-list li.first .node-icon {
    background-position: 0 -72px;
}

.track-list li .time {
    margin-right: 15px;
    position: relative;
    top: 4px;
    display: inline-block;
    vertical-align: middle;
}

.track-list li .txt {
    position: relative;
    top: 4px;
    display: inline-block;
    vertical-align: middle;
}

.track-list li.first .time {
    margin-right: 20px;
}

.track-list li.first .txt {
    max-width: 600px;
}

#wdzph {
    margin-bottom: 0;
}

.production-item {
    padding-bottom: 10px;
    position: relative;
    clear: both;
    min-height: 170px;
    padding: 10px 0;
    border-bottom: 1px #ddd solid;
    display: block;
}

.production-item-nobottom {
    padding-bottom: 10px;
    position: relative;
    clear: both;
    min-height: 170px;
    padding: 10px 0;
    display: block;
}

.production-picture a {
    position: absolute;
    left: 0;
    top: 10px;
    width: 110px;
    height: 110px;
    display: block;
    margin-top: 24px;
    border: 1px #ccc solid;
    border-radius: 10px;
}

.production-picture #bj1 {
    background: url(image/iLeetCoder.jpg) no-repeat center;
    background-size: cover;
}

.production-picture .bj2 {
    background: url(image/iWubi.jpg) no-repeat center;
    background-size: cover;
}

.production-picture .bj3 {
    background: url(image/iTer.jpg) no-repeat center;
    background-size: cover;
}

.production-picture .bj4 {
    background: url(image/SecurityNote.jpg) no-repeat center;
    background-size: cover;
}

.production-info {
    padding-left: 120px;
    display: block;
}

.production-comments {
    font-size: 13px;
    display: block;
    color: #999;
}

.production-title a {
    font-size: 18px;
    color: #4d4d4d;
    text-align: left;
    display: block;
    font-weight: 550;
    margin-top: 22px;
}

@media screen and (max-width:600px) {
    .production-item {
        width: 100%;
    }
}

.article-more {
	line-height: 2;
    padding-right: 5.0%;
    padding-left: 5.0%;
    color: #2c3e50
}

#summary li {
    font-size: 15px;
}

#summary li:before {
    content: "";
    width: 6px;
    height: 6px;
    border: 1px solid #ff0000;
    border-radius: 10px;
    background: #fff;
    display: inline-block;
    margin-right: 10px;
    float: left;
    margin-top: 10px
}

#noliststyle li {
    font-size: 13px;
    list-style: none !important;
}

#noliststyle ul li:before {
    list-style: none !important;
    content: "";
    width: 0px;
    height: 0px;
    border: 0px;
    margin-right: 0px;
    float: left; 
    margin-top:00px;
}



/* ====== video ===== */
.video-container {
	z-index: 1;
	position: relative;
	padding-bottom: 56.25%;
	margin: 0 auto;
}

.video-container iframe, .video-container object, .video-container embed {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 7%;
	width: 85%;
	height: 85%;
	box-shadow: 0px 0px 20px 2px #888888;
}


.article-entry h2 {
	border-bottom: 0px;
}


