---
layout: post
slug: "photos"
title: "更和多"
noDate: "true"
comments: "false"
reward: false
open_in_new: false
---
<link rel="stylesheet" href="./more.css">
<div class="photos-btn-wrap">
  <a class="photos-btn" href="/more">iHTCboy</a>
  <a class="photos-btn active" href="/more/onemindmap.html">思维导图</a>
  <a class="photos-btn" href="/more/photos.html">我的相册</a>
  <a class="photos-btn" href="/more/videos.html">我的视频</a>
</div>
<div class="instagram itemscope">
  <a href="https://github.com/iHTCboy/OneMindMap" target="_blank" class="open-ins">图片正在加载中…</a>
</div>
<h3>更多</h3>
<p>分享有趣的思维导图：<a target="_blank" href="https://github.com/iHTCboy/OneMindMap">https://github.com/iHTCboy/OneMindMap</a>，微信公众号可了解更多。</p>
<p align="center"><img src="/img/iHTCboy_mp.jpg" width="300px" height:auto alt="iHTCboy公众号"></p>
<br>
<script>
  (function () {
    var loadScript = function (path) {
      var $script = document.createElement('script')
      document.getElementsByTagName('body')[0].appendChild($script)
      $script.setAttribute('src', path)
    }
    setTimeout(function () {
      loadScript('./onemindmap.js')
    }, 0)
  })()
</script>