---
layout: post
slug: "photos"
title: "更和多"
noDate: "true"
comments: "false"
reward: false
open_in_new: true
---
<link rel="stylesheet" href="./ins.css">
<div class="photos-btn-wrap">
  <a class="photos-btn" href="/more">iHTCboy</a>
  <a class="photos-btn" href="/more/onemindmap.html">思维导图</a>
  <a class="photos-btn" href="/more/photos.html">我的相册</a>
  <a class="photos-btn active" href="/more/videos.html">我的视频</a>
</div>

<center><h2>毕业季 —— 致我们曾经的青春</h2></center>
<center>
<div class="video-container">
<iframe height="80%" width="80%" src="https://player.youku.com/embed/XMTI2OTE3NDA5Ng==" 
	frameborder=0 allowfullscreen>
</iframe>
</div>
</center>

<center><h2>毕业季 —— 我的大学之旅</h2></center>
<center>
<div class="video-container">
<iframe height="80%" width="80%" src="https://player.youku.com/embed/XMTI2MTU1MjM4MA==" 
	frameborder=0 allowfullscreen>
</iframe>
</div>
</center>

<center><h2>匆匆大学一课</h2></center>
<center>
<div class="video-container">
<iframe height="80%" width="80%" src="https://player.youku.com/embed/XMTI2MTIxODYzMg==" 
	frameborder=0 allowfullscreen>
</iframe>
</div>
</center>

<center><h2>2013年 桂林理工大学 计算机协会 宣传片</h2></center>
<center>
<div class="video-container">
<iframe height="80%" width="80%" src="https://player.youku.com/embed/XNjI2ODYxMjM2" 
	frameborder=0 allowfullscreen>
</iframe>
</div>
</center>


<center><h2>2013年 桂林理工大学 计算机协会 招新宣传片</h2></center>
<center>
<div class="video-container">
<iframe height="80%" width="80%" src="https://player.youku.com/embed/XNjExMzcxMDU2" 
	frameborder=0 allowfullscreen>
</iframe>
</div>
</center>


<center><h2>那一年我们辩论</h2></center>
<center>
<div class="video-container">
<iframe height="80%" width="80%" src="https://player.youku.com/embed/XMzc1NTQwNDY4" 
	frameborder=0 allowfullscreen>
</iframe>
</div>

<center><h2>一首歌的感觉</h2></center>
<center>
<div class="video-container">
<iframe height="80%" width="80%" src="https://player.youku.com/embed/XMzc1NTIxMTY0" 
	frameborder=0 allowfullscreen>
</iframe>
</div>

<center><h2>代沟，我们伤不起！<small>（大学制作的第一个视频）</small></h2></center>
<center>
<div class="video-container">
<iframe height="80%" width="80%" src="https://player.youku.com/embed/XMzc0Njk3Nzcy" 
	frameborder=0 allowfullscreen>
</iframe>
</div>


